.donorMainContainer {
    margin: 2rem;
    background-color: var(--accent-color);
}

.donorCoreInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    

    border-radius: 1rem;

    padding: 1rem;

    margin-top: 1rem;

    width: 100%;

}