.addDonorContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.addDonorFormContainer {
    background-color: var(--accent-color);
    padding: 2rem;
    border-radius: 2rem;


}

.addDonorNavLinks {
    display: flex;
    flex-direction: row;
}