* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #F0F5FB;
    --primary-color: #11CCAA;
    --secondary-color: #F25E9F;
    --tertiary-color: #6347A7;
    --accent-color: #FFFEFE;
    --dark-accent: #3E506E;
    --dark-background: #303F60;
  }

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-background);
}

main {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
}

.heroBtn {
    width: 100%;
    font-size: 2rem;
    color: white;
    border-radius: .5rem;
    background-color: var(--primary-color);
    padding: .5rem 1rem;
}

.heroBtn:hover, .heroBtn:active {
    filter: brightness(.9);
}

.cardLarge {
    background-color: var(--accent-color);
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: .5rem .5rem;
    width: 90%;
    max-width: 40em;
}

.cardLarge h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.cardLargeItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--background-color);
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .5rem 0;
}

.addButton {
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton:hover, .addButton:active {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

/* .headShot:hover {
    filter: brightness(.5);
} */

.headShotContainer {
position: relative;
display: inline-block; /* Ensure that the container only takes the space of the image */
}
  
.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: none;
border-radius: 50%;
}

.headShotContainer:hover .overlay {
display: block;
}

.editSymbol {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 24px;
filter:invert(100%);
}

.imageUploadContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    width: 500px;
    height: 250px;
    background-color: var(--primary-color);
    border-radius: .5rem;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 0;
}
  