
.headshotImage {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

/* Specific formatting for event cards in upcoming events */
.eventInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 1rem;
    background-color: var(--background-color);
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: .5rem 0;
}

.eventInfo h3 {
    font-size: .9rem;
}

.eventInfo:hover, .cardLargeItem:hover {
    filter: brightness(.9);
    cursor: pointer;
}