.eventsGrid {
    background-color: var(--accent-color);
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: .5rem .5rem;
}

/* .eventsGridRow, .eventsGridHeader {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
} */

.eventsGridRow, .eventsGridHeader {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    margin: 0.5rem 0;
    font-size: .75rem;
    border-radius: 1rem;
    padding: .5rem .25rem;
}

.eventsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventsGridRow {
    background-color: var(--background-color);
    min-height: 4rem;
}


.eventsGridRow:hover {
    filter: brightness(.9);
    cursor: pointer;
}

.eventData {
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}