.volunteersGrid {
    background-color: var(--accent-color);
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: .5rem .5rem;
}

.volunteersGridRow, .volunteersGridHeader {
    display: grid;
    grid-template-columns: .75fr 2fr 1fr;
    margin: .5rem 0;
    font-size: .75rem;
    border-radius: 1rem;
    padding: .5rem .25rem;
}

.volunteersGridRow {
    background-color: var(--background-color);
}

.volunteersGridRow:hover {
    filter: brightness(.9);
    cursor: pointer;
}

.volunteerName, .volunteerContact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volunteerImage {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.volunteerName {
    font-size: .7rem;
}

.volunteerContact {
    font-size: .5rem;
}

.volunteerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
